In [5]:
import numpy as np
import pandas as pd
import os

In [ ]:
import sys
sys.path.append('assets')

In [ ]:
base_dir = '/Users/alakarthika/Documents/Personal_Projects/WeakHero/assets/images'
records = []
counter = 0
for label in sorted(os.listdir(base_dir)):
    folder = os.path.join(base_dir, label)
    if not os.path.isdir(folder):
        continue
    for fname in sorted(os.listdir(folder)):
        if fname.lower().endswith((".jpg", ".jpeg", ".png")):
            counter += 1
            path = os.path.join(base_dir, label, fname)
            records.append({
                "id": f"img{counter:03d}",
                "path": path,
                "bucket": label
            })

df = pd.DataFrame(records)

In [3]:
df.head()

       id                                               path     bucket
0  img001  /Users/alakarthika/Documents/Personal_Projects...  ambitious
1  img002  /Users/alakarthika/Documents/Personal_Projects...  ambitious
2  img003  /Users/alakarthika/Documents/Personal_Projects...  ambitious
3  img004  /Users/alakarthika/Documents/Personal_Projects...  ambitious
4  img005  /Users/alakarthika/Documents/Personal_Projects...  ambitious

In [14]:
df.to_csv('/Users/alakarthika/Documents/Personal_Projects/WeakHero/assets/files/images.csv')

In [8]:
df =pd.read_csv('/Users/alakarthika/Documents/Personal_Projects/WeakHero/assets/files/images.csv')

In [12]:
df["path"] = df["path"].str.replace("/Users/alakarthika/Documents/Personal_Projects/WeakHero/", "", regex=False)

In [13]:
df.path.iloc[0]

'assets/images/ambitious/1.jpg'

In [ ]:
'/Users/alakarthika/Documents/Personal_Projects/WeakHero/assets/images/ambitious/1.jpg'